# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
next-env.d.ts

# Production
build/
dist/

# Env
.env
.env.local
.env.*.local
!.env.example

# Vercel
.vercel/

# Misc
.DS_Store
*.tsbuildinfo
npm-debug.log*
yarn-error.log*
